<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
    @@include("../assets/img/shapes/curves/curve-1.svg")
  </div>
</div>

<!-- CTA
================================================== -->
<section class="pt-6 pt-md-8 bg-gray-200">
  <div class="container pb-6 pb-md-8 border-bottom border-gray-300">
    <div class="row align-items-center">
      <div class="col-12 col-md">
        
        <!-- Heading -->
        <h3 class="mb-1 font-weight-bold">
          Thanks for visiting my digital world
        </h3>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-6 mb-md-0">
          I'm looking for internship and full time opporunities. 
        </p>

      </div>
      <div class="col-12 col-md-5">
            
        <!-- Form -->
        <form>
          <div class="row">
            <div class="col">
              
              <!-- Input -->
              <input type="email" class="form-control" placeholder="Enter your email">

            </div>
            <div class="col-auto ml-n5">
              
              <!-- Button -->
              <button class="btn btn-primary" type="submit">
                Connect
              </button>

            </div>
          </div> <!-- / .row -->
        </form>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        
        <!-- Brand -->
        <img src="@@webRoot/assets/img/brands/mao.svg" alt="..." class="footer-brand img-fluid mb-2">

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          Interdisciplinary explorer.
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.instagram.com/mao2741/" class="text-decoration-none" target="_blank">
              <img src="@@webRoot/assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://www.facebook.com/maoli0920/" class="text-decoration-none" target="_blank">
              <img src="@@webRoot/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="https://github.com/maoli131/" class="text-decoration-none" target="_blank">
              <img src="@@webRoot/assets/img/icons/social/github.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="https://www.linkedin.com/in/mao-li-ucsd/" class="text-decoration-none" target="_blank">
              <img src="@@webRoot/assets/img/icons/social/linkedIn.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>

      </div>
      <div class="col-12 col-md-4 col-lg-3">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Email
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              mal131@ucsd.edu
            </a>
          </li>
        </ul>

      </div>
      <div class="col-12 col-md-4 col-lg-3">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Telephone
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              +0 619-381-1639
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              +86 186-8329-2778
            </a>
          </li>
        </ul>

      </div>
      <div class="col-12 col-md-4 offset-md-4 col-lg-3 offset-lg-0">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Location
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              San Diego, USA
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Chengdu, China
            </a>
          </li>
        </ul>

      </div>
      <!-- <div class="col-6 col-md-4 col-lg-2"> -->
        
        <!-- Heading -->
        <!-- <h6 class="font-weight-bold text-uppercase text-gray-700">
          Connect
        </h6> -->

        <!-- List -->
        <!-- My WeChat is 18683292778 -->
        <!-- <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              WeChat
            </a>
          </li>
        </ul> -->

      <!-- </div> -->
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>