<!-- Example -->
<div class="modal fade" id="modalExample" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Image -->
        <div class="text-center">
          <img src="@@webRoot/assets/img/illustrations/illustration-1.png" alt="..." class="img-fluid mb-3" style="width: 200px;">
        </div>

        <!-- Heading -->
        <h2 class="font-weight-bold text-center mb-1" id="modalExampleTitle">
          Schedule a demo with us
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-center text-muted mb-6 mb-md-8">
          We can help you solve company communication.
        </p>

        <!-- Form -->
        <form>
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- First name -->
              <div class="form-label-group">
                <input type="text" class="form-control form-control-flush" id="registrationFirstNameModal" placeholder="First name">
                <label for="registrationFirstNameModal">First name</label>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Last name -->
              <div class="form-label-group">
                <input type="text" class="form-control form-control-flush" id="registrationLastNameModal" placeholder="Last name">
                <label for="registrationLastNameModal">Last name</label>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- Email -->
              <div class="form-label-group">
                <input type="email" class="form-control form-control-flush" id="registrationEmailModal" placeholder="Email">
                <label for="registrationEmailModal">Email</label>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Password -->
              <div class="form-label-group">
                <input type="password" class="form-control form-control-flush" id="registrationPasswordModal" placeholder="Password">
                <label for="registrationPasswordModal">Password</label>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12">

              <!-- Submit -->
              <button class="btn btn-block btn-primary mt-3 lift">
                Request a demo
              </button>

            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Signup: Horizontal  -->
<div class="modal fade" id="modalSignupHorizontal" tabindex="-1" role="dialog" aria-labelledby="modalSignupHorizontalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row no-gutters">
          <div class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url(@@webRoot/assets/img/photos/photo-8.jpg);">

            <!-- Image (placeholder) -->
            <img src="@@webRoot/assets/img/photos/photo-8.jpg" alt="..." class="img-fluid d-md-none invisible">

            <!-- Shape -->
            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
              @@include("../assets/img/shapes/curves/curve-4.svg")
            </div>

          </div>
          <div class="col-12 col-md-6">
            <div class="card-body">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center" id="modalSignupHorizontalTitle">
                Sign Up
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Simplify your workflow in minutes.
              </p>

              <!-- Form -->
              <form class="mb-6">

                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="modalSignupHorizontalEmail">
                    Your email
                  </label>
                  <input type="email" class="form-control" id="modalSignupHorizontalEmail" placeholder="Your email">
                </div>

                <!-- Password -->
                <div class="form-group mb-5">
                  <label class="sr-only" for="modalSignupHorizontalPassword">
                    Create a password
                  </label>
                  <input type="password" class="form-control" id="modalSignupHorizontalPassword" placeholder="Create a password">
                </div>

                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                  Sign up
                </button>

              </form>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-center text-muted">
                Already have an account? <a href="@@webRoot/signin-illustration.html">Log in</a>.
              </p>

            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>

<!-- Signup: Vertical  -->
<div class="modal fade" id="modalSignupVertical" tabindex="-1" role="dialog" aria-labelledby="modalSignupVerticalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card">

        <!-- Close -->
        <button type="button" class="modal-close close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Image -->
        <img src="@@webRoot/assets/img/photos/photo-7.jpg" alt="..." class="card-img-top">

        <!-- Shape -->
        <div class="position-relative">
          <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
            @@include("../assets/img/shapes/curves/curve-3.svg")
          </div>
        </div>

        <!-- Body -->
        <div class="card-body">

          <!-- Heading -->
          <h2 class="mb-0 font-weight-bold text-center" id="modalSignupVerticalTitle">
            Sign Up
          </h2>

          <!-- Text -->
          <p class="mb-6 text-center text-muted">
            Simplify your workflow in minutes.
          </p>

          <!-- Form -->
          <form class="mb-6">

            <!-- Email -->
            <div class="form-group">
              <label class="sr-only" for="modalSignupVerticalEmail">
                Your email
              </label>
              <input type="email" class="form-control" id="modalSignupVerticalEmail" placeholder="Your email">
            </div>

            <!-- Password -->
            <div class="form-group mb-5">
              <label class="sr-only" for="modalSignupVerticalPassword">
                Create a password
              </label>
              <input type="password" class="form-control" id="modalSignupVerticalPassword" placeholder="Create a password">
            </div>

            <!-- Submit -->
            <button class="btn btn-block btn-primary" type="submit">
              Sign up
            </button>

          </form>

          <!-- Text -->
          <p class="mb-0 font-size-sm text-center text-muted">
            Already have an account? <a href="@@webRoot/signin-illustration.html">Log in</a>.
          </p>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Signin: Horizontal  -->
<div class="modal fade" id="modalSigninHorizontal" tabindex="-1" role="dialog" aria-labelledby="modalSigninHorizontalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row no-gutters">
          <div class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url(@@webRoot/assets/img/photos/photo-1.jpg);">

            <!-- Image (placeholder) -->
            <img src="@@webRoot/assets/img/photos/photo-1.jpg" alt="..." class="img-fluid d-md-none invisible">

            <!-- Shape -->
            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
              @@include("../assets/img/shapes/curves/curve-4.svg")
            </div>

          </div>
          <div class="col-12 col-md-6">
            <div class="card-body">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center" id="modalSigninHorizontalTitle">
                Sign In
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Simplify your workflow in minutes.
              </p>

              <!-- Form -->
              <form class="mb-6">

                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="modalSigninHorizontalEmail">
                    Your email
                  </label>
                  <input type="email" class="form-control" id="modalSigninHorizontalEmail" placeholder="Your email">
                </div>

                <!-- Password -->
                <div class="form-group mb-5">
                  <label class="sr-only" for="modalSigninHorizontalPassword">
                    Enter your password
                  </label>
                  <input type="password" class="form-control" id="modalSigninHorizontalPassword" placeholder="Enter your password">
                </div>

                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                  Sign in
                </button>

              </form>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-center text-muted">
                Don't have an account yet? <a href="@@webRoot/signin-illustration.html">Sign up</a>.
              </p>

            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>

<!-- Signup: Vertical  -->
<div class="modal fade" id="modalSigninVertical" tabindex="-1" role="dialog" aria-labelledby="modalSigninVerticalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card">

        <!-- Close -->
        <button type="button" class="modal-close close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Image -->
        <img src="@@webRoot/assets/img/photos/photo-21.jpg" alt="..." class="card-img-top">

        <!-- Shape -->
        <div class="position-relative">
          <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
            @@include("../assets/img/shapes/curves/curve-3.svg")
          </div>
        </div>

        <!-- Body -->
        <div class="card-body">

          <!-- Heading -->
          <h2 class="mb-0 font-weight-bold text-center" id="modalSigninVerticalTitle">
            Sign In
          </h2>

          <!-- Text -->
          <p class="mb-6 text-center text-muted">
            Simplify your workflow in minutes.
          </p>

          <!-- Form -->
          <form class="mb-6">

            <!-- Email -->
            <div class="form-group">
              <label class="sr-only" for="modalSigninVerticalEmail">
                Your email
              </label>
              <input type="email" class="form-control" id="modalSigninVerticalEmail" placeholder="Your email">
            </div>

            <!-- Password -->
            <div class="form-group mb-5">
              <label class="sr-only" for="modalSigninVerticalPassword">
                Enter your password
              </label>
              <input type="password" class="form-control" id="modalSigninVerticalPassword" placeholder="Enter your password">
            </div>

            <!-- Submit -->
            <button class="btn btn-block btn-primary" type="submit">
              Sign in
            </button>

          </form>

          <!-- Text -->
          <p class="mb-0 font-size-sm text-center text-muted">
            Don't have an account yet? <a href="@@webRoot/signin-illustration.html">Sign up</a>.
          </p>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal for Experiences: IntelliPro SWE -->
<div class="modal fade" id="modalSWE" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Heading -->
        <h2 class="font-weight-bold text-left mb-1" id="modalExampleTitle">
          Software Engineer Intern
        </h2>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-6 mb-md-8">
          IntelliPro Group. 2019 Summer
        </p>

        <!-- Detail job description -->
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex align-items-center">
            
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Full stack web development
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Developed an online learning management system for technical training and job placement following MVC architecture.
              </p>
        
            </div>

            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-book"></i>
            </div>

          </div>
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->                
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                SQL database
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Designed database schema, managed platform data in MS SQL and connected to backend server through SQLAlchemy
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-database"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Python backend
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Implemented backend data server using Python Flask and built RESTFUL APIs for front end clients.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-code"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                User Interface
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Built modularized user interface with react & Material UI and handled data flow with Redux State container.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-user-check"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Modern Deployment
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Deployed on AWS EC2 with Nignx and Gunicorn, configured reverse proxy load balancer which improved QPS by 37%.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-cloud"></i>
            </div>
        
          </div>
        </div> <!-- end of job description -->
      </div> <!-- end of modal body -->  
    </div>
  </div>
</div>

<!-- Modal for Experiences: Debate Star Research -->
<div class="modal fade" id="modalResearch" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Heading -->
        <h2 class="font-weight-bold text-left mb-1" id="modalExampleTitle">
          Research Assistant
        </h2>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-6 mb-md-8">
          DebateStar, UCSD HSDI. 2019 Winter - 2020 Spring
        </p>

        <!-- Detail job description -->
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->                
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Natural Language Processing
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Utilized cutting edge NLP tools and research to analyze the persuasivenss of debate under guidance of prof. Jingbo Shang. 
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-file-text"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
            
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Full stack web development
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Used Flask, AWS and Bootstrap to build an online platform for researchers and debater to interact with our engine.  
              </p>
        
            </div>

            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-book"></i>
            </div>

          </div>      
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Feature Extraction
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Tailored GloVe embedding and attention mechanism to extract relevant information from both sides of debate.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-code"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Recurrent Neural Net
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Implemented LSTM to capture long-term depency within debate speeches and to gain insight about logical structure.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-user-check"></i>
            </div>
        
          </div>
        </div> <!-- end of job description -->

        <!-- Link to website -->
        <a class="btn btn-block btn-primary mt-12 mt-md-6 lift" href="https://www.debatestar.net" target="_blank" >
          DebateStar Interactive Platform
        </a>
      </div> <!-- end of modal body -->  
    </div>
  </div>
</div>

<!-- Modal for Experiences: Triple C -->
<div class="modal fade" id="modalStudentorg" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Heading -->
        <h2 class="font-weight-bold text-left mb-1" id="modalExampleTitle">
          President
        </h2>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-6 mb-md-8">
          Triple C, UCSD. 2019 Spring - 2020 Spring
        </p>

        <!-- Detail job description -->
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->                
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Incubator and Community
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Led both external and internal departments of the largest on-campus incubator for 12 student CS/DS projects with over 110 members.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-message-circle"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
            
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Connection
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Outreached student orgs, professors and industy partners (including Qualcomm, TuSimple, ServiceNow and many more) and raised over 5k in funding.  
              </p>
        
            </div>

            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-user"></i>
            </div>

          </div>      
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Business Development
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Brainstormed project ideas, developed business plans and prepared pitch presentations for quarterly projects.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-book"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Operations and Event Organization
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Organized weekly meetings, on- and off-line workshops, social events and quarterly Demo Day.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-box"></i>
            </div>
        
          </div>
        </div> <!-- end of job description -->

        <!-- Link to website -->
        <a class="btn btn-block btn-primary mt-12 mt-md-6 lift" href="https://www.ucsdtriplec.org" target="_blank" >
          Triple C Website
        </a>
      </div> <!-- end of modal body -->  
    </div>
  </div>
</div>

<!-- Modal for Experiences: Auto Tradebot -->
<div class="modal fade" id="modalTradebot" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Heading -->
        <h2 class="font-weight-bold text-left mb-1" id="modalExampleTitle">
          Research Assistant
        </h2>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-6 mb-md-8">
          UCSD, JSOE. 2019 Spring - Fall
        </p>

        <!-- Detail job description -->
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->                
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Market Making Agent
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Researched on competitive market making via deep reinforcement learning under guidance of prof. Sicun Gao.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-file-text"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
            
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                High-fidelity Simulation
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Built realistic and data-driven simulation of a limit order book using historical data and sequential Bayesian methods.  
              </p>
        
            </div>

            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-book"></i>
            </div>

          </div>      
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Deep Reinforcement Learning
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Combined function approximation and constraints satisfaction in the design of action, state and reward representations.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-code"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Fine-tuned Model
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                 Design customized Gym environment for deep reinforcement learning and represent stock features using RNN.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-user-check"></i>
            </div>
        
          </div>
        </div> <!-- end of job description -->
      </div> <!-- end of modal body -->  
    </div>
  </div>
</div>

<!-- Model for Experiences: Tutor -->
<div class="modal fade" id="modalTutor" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Heading -->
        <h2 class="font-weight-bold text-left mb-1" id="modalExampleTitle">
          CSE/DSC Tutor
        </h2>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-6 mb-md-8">
          UCSD, JSOE. 2019 Spring - Fall
        </p>

        <!-- Detail job description -->
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->                
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Data Structure and Algorithm
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Tutored DSC30 data structure and algorithm under guidance of prof. Marina Langlois.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-file-text"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
            
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Recommender System
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Tutored CSE158 data mining and recommender system under guidance of prof. Julian McAuley.  
              </p>
        
            </div>

            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-book"></i>
            </div>

          </div>      
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Tutor Hours
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Performed individual and group tutoring for students and helped them with concepts, practice and assignment.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-code"></i>
            </div>
        
          </div>
          <div class="list-group-item d-flex align-items-center">
              
            <!-- Text -->
            <div class="mr-auto">
              
              <!-- Heading -->
              <p class="font-weight-bold mb-1">
                Mini-sessions
              </p>
        
              <!-- Text -->
              <p class="font-size-sm text-muted mb-0">
                Organized mini sessions to review essential concepts covered in lectures and prompted active discussions.
              </p>
        
            </div>
              
            <!-- Check -->
            <div class="badge badge-rounded-circle badge-success-soft ml-4">
              <i class="fe fe-user-check"></i>
            </div>
        
          </div>
        </div> <!-- end of job description -->
      </div> <!-- end of modal body -->  
    </div>
  </div>
</div>